h1 {
    font-size: 10vw;
}

html {
    /*https://fonts.google.com/specimen/Roboto*/
    font-family: 'Roboto', sans-serif;
}

.indexBox {
    border-radius: 15px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    align-items: center;
    vertical-align: middle;
    padding: 10%;
}

p {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 5vw;
}

input {
    border: 2px solid black;
    border-radius: 8px;
    width: 90%;
    font-size: 5vw;
}

input:focus {
    border-radius: 8px;
    scale: 1.1;
    outline: none;
}

button {
    margin-top: 20px;
    font-size: 5vw;
    background-color: white;
    border-radius: 8px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #BCD2E8;
}